  a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  form {
    padding-left: 20px;
    padding-right: 20px;
  }

  textarea {
    width: 100%;
    height: 150px;
  }

  .buttonNav {
    border: none;
    background-color: #0dcaf0;
    cursor: pointer;
  }